/*Css do Header*/

header {
    background: url(./assets/fundoheader.jpg);
}

.logo {
    padding: 3em;
}

.listatopo {
    color: #FFFFFF; 
    display: flex;
    flex-direction: row;
    position: relative;
    left: 80%;
    bottom: 5em;
    width: 20%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.listatopo li {
    padding:  0 0 0 1em;
    
}

.listatopo a {
    text-decoration: none;
    color: #FFFFFF;
}

.astronauta1 {
    height: 20em;
    position: absolute;
    left: 42%;
    bottom: 39em;
}

/*Css do Main*/

main {
    background: url(./assets/fundomain.jpg);
    padding: 3em;
}

#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    background-color: #250045;
    width: 20%;
    position: relative;
    left: 38%;
    border-radius: 2em;
    opacity: 0;
    transform: translateY(-3em);
}

#modal.animar {
   animation: slide .3s forwards; 

}

/*CSS animação da div container-a */


@keyframes slide {
   
    to {
        opacity: 1;
        transform: translateY(0);
    }
}   
/*continuação do css do main */

#modal h1 {
    font-size: 3em;
    font-family: 'Red Hat Display', sans-serif;
    padding: 1em;
    color: #FFFFFF;
}

#modal label {
    font-size: 1.8em;
    font-family: 'Red Hat Display', sans-serif;
    color: #FFFFFF;
    
}
#modal input {
    padding: 0.8em;
    margin: 1em;
    font-size: 1em;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 1em;
    border: none;
    width: 50%;
    color: #FFFFFF;
}

#email {
    width: 75%;
}

#senha {
    width: 75%;
}

#logar {
    background: #11C1F3;
   
}

#logar:hover {
    background: #0f5fd6;
}

#logar:active {
    background: #6717cf;
}





/*Css do footer */

footer {
    background: url(./assets/fundofooter.jpg);
    
}



#logofooter {
	height: 6%;
	padding: 11em 8em 3em;
}

.footerparte1 {
	width: 40%;
    position: relative;
    top: 10em;
    padding: 0 0 0 5em;
}

.footerlocal, .footertelefone, .footeremail {
	display: flex;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;

}

.textofooter {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}



#imgfooter {
	padding: 1em 1em 1em 3em;
}

.listafootera {
	line-height: 2em;
	width: 8%;
    position: relative;
    left: 50%;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	
}

.listafooterb {
	line-height: 2em;
	width: 7%;
    position: relative;
    left: 60%;
    bottom: 12em;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	
}

.listafootera li {
	line-height: 3em;
}

.listafooterb li {
	line-height: 3em;
}

.redeslogo {
	width: 13%;
    position: relative;
    left: 79%;
    bottom: 22em;
}


#logoface, #logotwitter, #logoinsta {
	height: 3em;
}

.listafooter {
	height: 9%;
} 

.copyright {
	text-align: end;
	padding: 3em;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
    
}

.astronauta2 {
    height: 16em;
    position: absolute;
    left: 44%;
    top: 75em;
}


/* Css da página de registro, formulario do main*/

.formulario {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Red Hat Display', sans-serif;
    color: #FFFFFF;
    font-size: 1.4em;
    background: #250045;
    width: 30%;
    border-radius: 2em;
} 

.formulario label {
    padding: 1em 0 1em;
    margin: 1em 0 0 0;
}

.formulario input {
    border: none;
    padding: 1em;
    width: 45%;
    font-size: 15px;
    border-radius: 2em;
    margin: 0 0 1em 0;
}

.gencaixa {
    margin: 1em 0 0 0;
    font-size: 21px;
    width: 141%;
    text-align: center;
    border-radius: 2em;
    padding: 0.3em;
    border: none;
}

/* Animação do formulario */

.formulario {
   
    opacity: 0;
    transform: translateX(-3em);
}

.formulario {
   animation: slide .3s forwards; 

}

#checkbox {
    width: 10%;
}

.checkbox {
    font-size: 25px;
}

.enviar {
    background: #7a9ccf;
    color: #FFFFFF;
    transition: 00.6s;
}

.enviar:hover {
    background: #5286d4;
}

.enviar:active {
    background: #0f5fd6;
}


@keyframes slide {
   
    to {
        opacity: 1;
        transform: translateX(0);
    }
}   
